.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 101px;
  align-items: center;
  padding: 2rem;
  max-width: 100vw;
}

@media screen and (max-width: 792px) {
  .main-header {
    flex-direction: row-reverse;
  }
}
